<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrerror.parachut">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ui.usercontrol.OTP.OTPActivity" />
        <activity android:name=".ui.cart.CartActivity"></activity>
        <activity
            android:name=".ui.product.SingleProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.product.FullImage" />
        <activity
            android:name=".ui.home.orders.detailsorder.DetailsOrderActivity"
            android:label="@string/title_activity_details_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.humbmenu.HamburgActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.home.fastorder.GotoHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_goto_home"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.home.fastorder.FastOrderActivity"
            android:label="@string/title_activity_fast_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.usercontrol.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity
            android:name=".ui.home.map.MapsActivity"
            android:theme="@style/PlacesAutocompleteThemeFullscreen"/>
        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:screenOrientation="portrait"
            android:theme="@style/NotitleOnly"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.map.MapsActivity" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_api_key" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.intro.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.allitem.AllItemActivity" />
        <activity android:name=".ui.home.MainActivity" />

        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>